html,
body {
  background-color: #1b1b1b;
  height: 100%;
  margin: 0;
}

#page-container {
  /* min-height: 100%; */
  background-color: grey;
  /* min-height: 100%; */
  position: relative;
  margin: 0 auto;
}
#footer {
    position: relative;
    background-color: #1b1b1b;
    border-top: 5px solid #666;
    color: #ccc;
    font-size: 14px;
    bottom: 0;
    left: 0;
    padding-bottom: 128px;
    text-align: initial;
    font-family: Open Sans, Arial, Helvetica, sans-serif !important;
}

.center {
  position: relative;
  background-color: #333;
}

#footer-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-bottom: 15px;
  padding-top: 32px;
  max-width: 1152px;
  margin: 0 auto;
}

.footer-title {
  color: #999;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
  font-family: Open Sans, Arial, Helvetica, sans-serif !important;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 32px;
}

#footer-bar {
  width: 100%;
  height: 128px;
  background-color: #1b1b1b;
}

#essayons {
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  width: 112px;
  z-index: 1;
}
.flex-column {
  padding-left: 25px;
}
.col-0,
.col-1,
.col-2 {
  display: flex;
  flex-flow: column wrap;
}
.col-0 {
  max-width: 50%;
}
.flex-row {
  display: flex;
  flex-flow: row wrap;
}
.social-icons > div {
  display: inline-block;
  margin-right: 18px;
  margin-bottom: 18px;
}
.social-icons {
  font-size: 16pt;
  line-height: 36px;
}
.social-icon {
  color: white;
  text-decoration: none;
}
/* .social-icon:hover {
                font-size: 18pt;
            } */
.f-link {
  color: white;
  text-decoration: none;
}
.f-link > div {
  padding-bottom: 5px;
}
.f-link:hover {
  text-decoration: underline;
  /* font-size: 15px; */
}
@media (max-width: 992px) {
  #footer-content {
    margin: 0;
  }

  #footer {
    margin-top: 0;
  }

  .page-wrap {
    padding-bottom: 25px;
  }

  .col-0 {
    max-width: 90%;
  }

  .center {
    padding-bottom: 35px;
  }
}
