/* External Styles for Header */
body {
    font-family: Open Sans,Arial,Helvetica,sans-serif!important;
}

html,
body,
span,
iframe,
p,
blockquote,
a,
abbr,
b,
u,
i,
center,
form,
label,
legend,
footer,
header,
menu,
nav,
output,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  /* font: inherit; */
  vertical-align: baseline;
}
:root {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

#headerFloat .site-area,
#headerFloat .site-name,
#site-footer .footer-title,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.hide {
  display: none !important;
}

#headerFloat {
  z-index: 999;
}

.main-bar {
  min-height: 45px;
  background: black;
}

.header-float {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  min-height: 28px;
  display: flex;
}

.search-bar {
    margin: auto;
    margin-right: 15px;
}
.search-bar i {
    color: #ccc;
    cursor: pointer;
    font-size: 0.9em;
    margin: auto;
    padding: 5px;
    margin-left: 0;
}
.search-bar input {
    background: hsla(0,0%,100%,.2);
    border: none;
    color: #ccc;
    font-size: 14px;
    padding: 2px 8px;
    width: 150px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.page-wrap {
  margin-bottom: 200px;
  margin: 0 auto;
  max-width: 1400px;
  background-color: white;
  padding: 15px;
  /* Override any inline style tags */
  padding-top: 10px !important;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

#header {
  position: relative;
}

.content {
  padding: 16px;
}

.not-found {
  font-size: 4vh;
  font-weight: 700;
}

/* ================== */
/* Box Header Content */

.box-usace .box-content {
  display: flex;
  flex-direction: column;
  padding: 16px 0 0;
  margin: 0;
}

.box-usace .box-header-striped {
  font-size: 20.8px;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 22.4px;
  line-height: 1.4rem;
  margin-bottom: 0;
  z-index: 3;
}

.box-usace .box-header-striped {
  font-size: 20.8px;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 22.4px;
  line-height: 1.4rem;
  margin-bottom: 0;
  z-index: 3;
}

.box-usace .box-header-striped:before {
  content: " ";
  display: block;
  width: 100%;
  height: 25px;
  margin-bottom: -12px;
  background-color: #ededed;
}

.box-usace .box-header-striped:after {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 5px;
  top: 0;
  left: 0;
  background-color: #de1e2e;
  z-index: 2;
}

/* Scroll Button Settings */
.scroll-btn {
  position: fixed;
  right: 3vw;
  z-index: 99;
  border: solid red;
  border-width: 0 0.5em 0.5em 0;
  display: inline-block;
  padding: 0.5em;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  background: rgb(211, 211, 211, 0.5);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.scroll-btn:hover {
  border: solid rgb(36, 128, 0);
  border-width: 0 0.5em 0.5em 0;
}

.scroll-up {
  bottom: 10vh;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.scroll-down {
  bottom: 4vh;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.site-name {
  font-weight: 700;
  font-size: 1.1em;
  margin-right: 8px;
  margin-left: 115px;
  float: left;
  position: relative;
  margin-top: 5px;
}

.site-area {
  font-size: 1.1em;
  float: left;
  position: relative;
  margin-top: 5px;
  color: #212529;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
.site-area,
.site-notice {
  font-size: 1.1em;
  float: left;
  position: relative;
  margin-top: 5px;
  color: #212529;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
.site-notice {
  margin-left: 10px;
  color: red;
  font-weight: normal;
  display: none;
}

.site-title {
  background: rgb(215, 215, 215);
  height: 32px;
}

.site-logo {
  float: left;
  position: absolute;
  margin-left: 11px;
  margin-top: 12px;
  width: 65px;
  height: 45px;
  transition: all 0.2s ease-in-out;
}
#spinner {
  text-align: center;
}

.reg {
  font-size: 11px;
  position: relative;
  color: lightslategray;
  left: 81px;
  top: 61px;
  transition: all 0.2s ease-in-out;
}

.dropbtn {
  display: inline-block;
  cursor: pointer;
  background-color: black;
  color: #d0d0d0;
  padding: 0 8px;
  z-index: 3;
  line-height: 45px;
  font-weight: 600;
  text-decoration: none;
  font-size: 13.6px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: none;
}

.sub-menu {
  background: #555555;
  color: #d0d0d0;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.sub-header {
  display:flex;
  width: 100%;
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  min-width: 200px;
  padding-right: 15px;
  padding-left: 15px;
  vertical-align: middle;
}

.options-block {
  padding-top: 1vh;
}

.legend:hover {
  background-color: gray;
}

.collapsible {
  cursor: pointer;
  /* padding: 18px; */
  width: 100%;
  border: none;
  text-align: left;
  font-size: 2em;
  outline: none;
  vertical-align: middle;
}

#header .active,
.collapsible:hover {
  background-color: #555 !important;
  color: white !important;
}

.collapsible:before {
  display: inline-table;
  white-space: nowrap;
  content: "+";
  color: black;
  alt: "Click to Expand";
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  font-size: 3vh;
  float: left;
  margin-left: 1vw;
  margin-right: 1vw;
}

.collapsible:hover:before {
  color: white;
}

.content {
  padding: 0 18px;
  max-height: 0;
  width: 100%;
  overflow-x: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.sub-arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
}

.sub-arrow-up {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  border-bottom: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
}

.mobile-hide {
  display: inline-block;
}

#skin-footer-background {
  background-color: #333;
  padding-bottom: 68px;
  padding-top: 32px;
}

/* Burger Bar */

.burger-bar {
  position: sticky;
  margin-right: 11px;
  margin-top: 5px;
  transition: all 0.2s ease-in-out;
  left: 0;
  top: 0;
  display: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  margin-left: auto;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  color: white;
  top: 10%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  text-align: left;
  z-index: 1;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  transition: 0.3s;
  display: block;
  width: 100%;
  margin-left: 10px;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 3em;
}

#mobileNavContent .home {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid;
  border-left: none;
  border-right: none;
}

#mobileNavContent .home i {
  margin: auto 0;
}

.closebtn:hover::before {
  content: "";
}

.collapsible-mobile {
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 1.5em;
  outline: none;
  vertical-align: middle;
  margin-top: 0.5em;
}

#header .active,
.collapsible-mobile:hover,
.home a:first-of-type:hover {
  background-color: #555 !important;
  color: white !important;
}

.home a:last-of-type:hover {
  color: red !important;
}

.collapsible-mobile:before {
  display: inline-table;
  white-space: nowrap;
  content: "+";
  color: white;
  alt: "Click to Expand";
  text-align: left;
  vertical-align: middle;
  font-weight: 700;
  margin-left: 1vw;
  margin-right: 1vw;
  padding-bottom: 4px;
}

.content-hide {
  display: none;
}

.content-mobile {
  border: 1px solid;
  border-left: 5px solid gray;
  padding: 0 18px;
  width: 100%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: transparent;
}

.main-header .active:before {
  content: "-";
  alt: "Click to Contract";
  color: white;
}

.site-logo:hover::before {
  content: "";
}

.content-mobile a:hover::before {
  color: white;
}

.content-mobile a:hover {
  text-decoration: underline;
}

.home {
  color: white;
}

/* Sub Menu */
.top-level-menu a
        /* Apply to all links inside the multi-level menu */ {
  display: flex;
  font: bold 14px Arial, Helvetica, sans-serif;
  color: #d0d0d0;
  text-decoration: none;
  padding: 0 8px;
  /* Make the link cover the entire list item-container */
  display: block;
  cursor: pointer;
  font-size: 13.6px;
  font-weight: 600;
  border: none;
}

.top-level-menu li {
  position: relative;
}

.top-level-menu ul {
  border-right: 1px solid black;
  border-top: 1px solid black;
}

.top-level-menu > li > a {
  line-height: 45px;
}

.second-level-menu a:hover > i {
  display: none;
}

.top-level-menu a:hover {
  color: white;
}

.top-level-menu a i {
  margin: auto;
  margin-right: 0;
}

.top-level-menu {
  list-style: none;
  display: inline-block;
  padding: 0;
  color: #d0d0d0;
  height: 100%;
}

.top-level-menu > li {
  position: relative;
  float: left;
  min-width: 50px;
  height: 100%;
}

.top-level-menu > li:hover {
  background-color: rgb(121, 121, 121);
}

.top-level-menu li:hover > ul {
  /* On hover, display the next level's menu */
  z-index: 99;
  opacity: 1;
  visibility: visible;
}

.second-level-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 45px;
  left: 0;
  min-width: 300px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.second-level-menu a {
  display: flex;
}

.second-level-menu a i {
  margin: auto;
  margin-right: 0;
}

.second-level-menu > li > a {
  line-height: 45px;
}

.second-level-menu > li {
  position: relative;
  background: #555555;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.second-level-menu > li:hover {
  color: white;
  background-color: rgb(121, 121, 121);
}

.third-level-menu {
  position: absolute;
  top: 0;
  left: 100%;
  font-size: 0.9rem;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  visibility: hidden;
}

.third-level-menu a i {
  margin: auto;
  margin-right: 0;
}

.third-level-menu > li {
  background: lightgray;
  border-bottom: 1px solid black;
  border-left: 2px solid black;
}

.third-level-menu a {
  color: black;
  display: flex;
  font-size: 0.9em;
}

.third-level-menu > li > a {
  line-height: 40px;
}

.third-level-menu > li:hover {
  background-color: gray;
  color: white;
}

.fourth-level-menu {
  position: absolute;
  top: 0;
  left: 100%;
  font-size: 0.9rem;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  animation-fill-mode: forwards;
  opacity: 0;
  visibility: hidden;
}

.fourth-level-menu a i {
  margin: auto;
  margin-right: 0;
}

.fourth-level-menu > li {
  background: lightgray;
  border-bottom: 1px solid black;
  border-left: 2px solid black;
}

.fourth-level-menu a {
  display: flex;
  font-size: 0.8em;
}

.fourth-level-menu > li > a {
  line-height: 35px;
}

.fourth-level-menu > li:hover {
  background-color: gray;
  color: white;
}

@media only screen and (max-width: 1400px) {
  .fourth-level-menu {
    right: 100%;
    left: unset;
  }
}

.fifth-level-menu {
  position: absolute;
  top: 0;
  left: 100%;
  font-size: 0.9rem;
  width: 75%;
  list-style: none;
  padding: 0;
  margin: 0;
  animation-fill-mode: forwards;
  opacity: 0;
  visibility: hidden;
}

.fifth-level-menu a i {
  margin: auto;
  margin-right: 0;
}

.fifth-level-menu > li {
  background: lightgray;
  border-bottom: 1px solid black;
  border-left: 2px solid black;
}

.fifth-level-menu a {
  display: flex;
  font-size: 0.8em;
}

.fifth-level-menu > li > a {
  line-height: 35px;
}

.fifth-level-menu > li:hover {
  background-color: gray;
  color: white;
}

@media only screen and (max-width: 1400px) {
  .fifth-level-menu {
    left: 100%;
    right: unset;
  }
}

/* Menu Link Styles */
/* Mobile Settings */
@media only screen and (max-width: 950px) {
  .burger-bar {
    display: inline-block;
  }
  .site-notice {
    background: white;
    padding: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .overlay .closebtn {
    font-size: 2em;
    top: -5px;
    right: 5px;
  }

  .page-title {
    font-size: 16pt;
  }

  #desktop-menu {
    display: none;
  }

  .divider {
    display: none;
  }

  .site-logo {
    float: left;
    position: absolute;
    margin-top: 5px;
    margin-left: 15px;
    width: 45px;
    height: 23px;
  }

  .reg {
    left: 61px;
    top: 32px;
  }

  .sub-header {
    margin-bottom: 30px;
    color: #e5e1e1;
    background: rgba(51, 51, 51, 0.95);
    width: 100%;
    padding: 5px;
  }

  .site-area {
    display: block;
    margin-left: 0;
    font-size: 1em;
    margin-left: 5px;
    color: #e5e1e1;
  }

  .site-name {
    display: block;
    font-size: 1em;
    margin-left: 5px;
  }

  .options-block {
    display: block;
  }

  .mobile-hide {
    display: none;
  }

  .collapsible {
    width: 100% !important;
    height: 3vh !important;
    text-align: left !important;
  }

  .collapsible:before {
    margin-left: 0.5vw;
    margin-right: 2vw;
    text-align: match-parent;
    vertical-align: middle;
  }
}


#skip-link-holder a {
  height: 30px;
  display: block;
  width: 100%;
  position: fixed;
  top: -30px;
  left: 0;
  z-index: 10001;
  color: #fff;
  background: #de1e2e;
  opacity: 0.9;
  border-bottom: 0;
  -webkit-box-shadow: 0 2px 5px rgb(0 0 0 / 50%);
  box-shadow: 0 2px 5px rgb(0 0 0 / 50%);
  line-height: 30px;
  padding: 0 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#skip-link-holder a:active,
#skip-link-holder a:focus {
  left: 0;
  top: 0;
  z-index: 10000;
}

/* Styles the return to top button */
#returnTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#returnTop:hover {
  background-color: #555;
}

/* Page CSS overrides */
*,
::after,
::before {
  box-sizing: border-box;
}

.container-fluid,
.page-container {
  position: relative;
}

.slideshow-title {
  display: flex;
  background: lightgray;
  width: 100%;
  justify-content: center;
  padding: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid black;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.page-content {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.box-usace {
  margin: 0 0 32px;
  position: relative;
}

.inline-logo {
  margin: auto 5px;
  width: 22px;
  height: 18px;
}

/* Only show this when the page is printed */
.show-print {
  display: none !important;
}
/* After everything else has loaded, display the header - prevents flashing */
#headerFloat {
  display: block !important;
}

@media only print {
  header,
  #headerFloat {
    display: none !important;
  }
  .hide-print {
    display: none !important;
  }
  /* Add this if you want something to persist for print
    and it exists in the header/footer */
  .show-print {
    display: block !important;
  }
}
