<style>
    #essayons {
        background: url("./logos/essayonscrest.png");
        bottom: 56px;
        height: 125px;
        left: 50%;
        margin-left: -56px;
        position: absolute;
        width: 112px;
    }

    footer {
        background-color: #1b1b1b;
        border-top: 5px solid #666;
        color: #ccc;
        font-size: 14px;
        padding-bottom: 128px;
        position: relative;
    }
</style>
<div class="bd-footer p-3 pt-5 bg-dark text-light">
    <div id="essayons"></div>
    <div id="skin-footer-background">
        <div class="page-container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="footer-description">
                            <div class="row">
                                <div class="col-md-6 col-lg-12">
                                    <h4>Our Mission</h4>
                                    <p>Deliver vital engineering solutions, in collaboration with our partners, to secure
                                        our Nation, energize our economy, and reduce disaster risk.</p>
                                </div>
                                <div class="col-md-6 col-lg-12">
                                    <h4>About the Tulsa District Website</h4>
                                    <p>This is the official public website of the Tulsa District, U.S. Army Corps of
                                        Engineers. For website corrections, write to ceswt-pa@swt03.usace.army.mil</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 col-md-8 col-lg-4">
                        <div class="footer-links">
                            <div class="d-flex">
                                <a href="http://www.facebook.com/usacetulsa" target="_blank"
                                        rel="noopener noreferrer" title="Facebook"><span
                                            class="social-icon fab fa-facebook"></span></a>
                                <a href="http://twitter.com/usacetulsa" target="_blank"
                                        rel="noopener noreferrer" title="Twitter"><span
                                            class="social-icon fab fa-twitter social-link-97"></span></a>
                                <a href="http://www.youtube.com/usacetulsa" target="_blank"
                                        rel="noopener noreferrer" title="YouTube"><span
                                            class="social-icon fab fa-youtube-square"></span></a>
                                <a href="http://www.flickr.com/photos/usacetulsa" target="_blank"
                                        rel="noopener noreferrer" title="Flickr"><span
                                            class="social-icon fab fa-flickr"></span></a>
                            </div>
                            <div class="footer-title"></div>
                            <div class="footer-text-links link-rows">
                                <ul>
                                    <li><a href="https://dodcio.defense.gov/DoDSection508/Std_Stmt.aspx"
                                            target="_blank" rel="noopener noreferrer"><span
                                                class="text text-link-263">Accessibility</span></a></li>
                                    <li><a href="/Contact.aspx"><span class="text text-link-325">Contact
                                                Us</span></a></li>
                                    <li><a href="https://www.usace.army.mil/InformationQualityAct.aspx"
                                            target="_blank" rel="noopener noreferrer"><span
                                                class="text text-link-449">Quality Facts</span></a></li>
                                    <li><a href="https://www.usace.army.mil/LinkDisclaimer.aspx" target="_blank"
                                            rel="noopener noreferrer"><span class="text text-link-511">Link
                                                Disclaimer</span></a></li>
                                    <li><a href="https://prhome.defense.gov/nofear" target="_blank"
                                            rel="noopener noreferrer"><span class="text text-link-573">No Fear
                                                Act</span></a></li>
                                    <li><a href="https://www.usace.army.mil/PrivacyandSecurity.aspx"
                                            target="_blank" rel="noopener noreferrer"><span
                                                class="text text-link-635">Privacy &amp; Security</span></a></li>
                                    <li><a href="/SiteMap.aspx"><span class="text text-link-756">Site
                                                Map</span></a></li>
                                    <li><a href="https://www.usa.gov/" target="_blank"
                                            rel="noopener noreferrer"><span class="text text-link-818">USA.gov</span></a>
                                    </li>
                                    <li><a href="http://www.esd.whs.mil/DD/plainlanguage" target="_blank"
                                            rel="noopener noreferrer"><span class="text text-link-1151">Plain
                                                Language</span></a></li>
                                    <li><a href="https://open.defense.gov/" target="_blank"
                                            rel="noopener noreferrer"><span class="text text-link-1152">Open
                                                Government</span></a></li>
                                    <li><a href="/Business-With-Us/Small-Business-Office/" target="_blank"
                                            rel="noopener noreferrer"><span class="text text-link-1153">Small
                                                Business</span></a></li>
                                    <li><a href="https://www.usace.army.mil/Careers/EEO/" target="_blank"
                                            rel="noopener noreferrer"><span class="text text-link-1154">EEO &amp;
                                                SHARP</span></a></li>
                                </ul>
    
    
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-md-4 col-lg-2">
                        <div class="footer-text-links offsite-links">
                            <a href="https://www.army.mil" target="_blank" rel="noopener">
                                <img src="./logos/army-logo-color.svg"
                                    alt="U.S. Army"></a>
                            <ul>
                                <li><a href="https://www.swt.usace.army.mil/Contact/RSS/"><span
                                            class="text text-link-1396">RSS</span></a></li>
                                <li><a href="https://www.usace.army.mil/Engineer-Inspector-General/"
                                        target="_blank" rel="noopener noreferrer"><span
                                            class="text text-link-1149">IG</span></a></li>
                                <li><a href="/Business-With-Us/FOIA/"><span
                                            class="text text-link-1150">FOIA</span></a></li>
                                <li><a href="https://www.inscom.army.mil/isalute/" target="_blank"
                                        rel="noopener noreferrer"><span class="text text-link-942">iSALUTE</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>