<link href="./assets/fontawesome-6.2.1/css/fontawesome.css" rel="stylesheet">
<link href="./assets/fontawesome-6.2.1/css/brands.css" rel="stylesheet">
<link href="./assets/fontawesome-6.2.1/css/solid.css" rel="stylesheet">
<div class="skippy visually-hidden-focusable overflow-hidden bg-black">
    <div class="container-xl">
        <a class="d-inline-flex p-2 m-1" href="#content">Skip to main content</a>
        <!-- <a class="d-none d-md-inline-flex p-2 m-1" href="#otherItem">Skip to other important thing</a> -->
    </div>
</div>
<nav class="navbar navbar-light p-0 bg-black">
    <div class="container-xxl">
        <div class="container-fluid p-2 bg-black">
            <a href="/" title="Essayons Logo" class="position-fixed" style="z-index: 9999;"><img src="./logos/usace-logo-color.svg" alt="" width="70" height="54"
                    class="d-inline-block align-text-top"></a>
            <a class="navbar-brand text-light" style="margin-left: 5em;" href="#">
                Bootstrap
            </a>
            <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
        </div>
    </div>
</nav>
<nav class="navbar navbar-light p-0">
    <div class="container-xxl">
        <div class="container-fluid bg-light p-1">
            <div>test</div>
        </div>
    </div>
</nav>
<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4" style="height: 100vh;">
        <h5 class="text-white h4">Collapsed content</h5>
        <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
</div>