/***** Jump Menu - START  ******/
.ac-hide {
    display: none;
}

@media screen and (max-width: 768px) {
    .ac-show-mobile-only {
        display: block
    }
}

@media screen and (min-width: 769px) {
    .ac-hide-mobile-only {
        display: block !important;
    }
}

.ac-jump-menu {
    max-width: 100%;
    min-width: 100%;
    text-overflow: ellipsis;
}

.ac-jump-menu-header {
    font-weight: bold;
    margin: 10px 0;
}

.ac-jump-menu-warning, .ac-jump-menu-success {
    display: none;
    margin: 10px 0;
}

.ac-jump-menu-success i.fa-spin {
    margin: 0 10px 0 0;
}
/***** Jump Menu - END  ******/